@font-face {
    font-family: "Noto Sans Arabic";
    src: url(./NotoSansArabic-Regular.ttf);
}
@font-face {
    font-family: "Noto Sans Arabic Bold";
    src: url(./NotoSansArabic-SemiBold.ttf);
}

    