header
    min-height: 666px
    background-image: url(../../images/bg.png)
    @include bg
    background-size: contain
    display: flex
.inline-header
    width: 70%
    display: flex
.Group154Left
    width: 17%
.Group154Right
    width: 13%
.f3
    @include bgi-settings(183.84px, 104.09px, 144.99px, 57.16px)
    background-image: url(../../images/f3.png)
    @include bg
    transform: rotate(0.61deg)
.f1_2
    @include bgi-settings(224px, 416px, 130px, 188px)
    background-image: url(../../images/f1_2.png)
    @include bg
.f2_2
    @include bgi-settings(74px, 79px, 115px, 389px)
    background-image: url(../../images/f2_2.png)
    @include bg
.f1_2_1
    @include bgi-settings(148px, 416px, 166px, 199px)
.leftGirl
    @include bgi-settings(350px, 644px, 315px, 22px)
    background-image: url(../../images/girl_left1.png)
    @include bg
.rightGirl
    @include bgi-settings(402px, 633px, 1289px, 33px)
    background-image: url(../../images/girl_right1.png)
    @include bg
.header-content-container
    width: 40%
    height: 100%