.Group155
    min-height: 248px
    background-image: url(../../images/Group155.png)
    @include bg
    position: relative
    top: -2px
    @include flex-jc
    z-index: 1
.Group155-container
    @include flex-ac
    width: 1216px
    justify-content: space-between
.pattern
    width: 280px
    height: 250px
    @include flex-ac
    flex-direction: column
    padding-top: 21px
.pattern p
    text-align: center
    height: 48px
    color: white
.Frame-text
    @include text-settings(normal, bold, 28px, 59px, 0px)
    font-family: "Noto Sans Arabic Bold", sans-serif
    width: 100%
.Frame-text bdo 
    display: inline-block
    width: 60%
    position: relative
    top: 3px
    left: 0px
.Frame-img
    width: 127px
    height: 80px
    margin-top: 20px
    margin-bottom: 9px
    @include bg
.Frame-text-bottom bdo
    @include text-settings(normal, bold, 14px, 20px, 0.1px)
    display: inline-block
    text-align: center
    position: relative
.F158
    @include item-settings(118px, 40px, 0px, 2px)
.F159
    @include item-settings(80px, 40px, 0px, 2px)
.F160
    @include item-settings(60px, 40px, 0px, 2px)
.F161
    @include item-settings(100px, 40px, 0px, 2px)
.diamond
    background-image: url(../../images/ic_diamond.png)
.cup
    background-image: url(../../images/si-glyph_champion-cup.png)
.money-bag
    background-image: url(../../images/money-bag-with-dollar-symbol.png)
.label
    background-image: url(../../images/ic_label.png)
    