@import "./reset/reset.css";
@mixin flex-jc
    display: flex
    justify-content: center
@mixin flex-ac
    display: flex
    align-items: center
@mixin flex
    display: flex
    align-items: center
    justify-content: center
@mixin bg
    background-position: center
    background-repeat: no-repeat
    display: inline-block
@mixin bgi-settings($width, $height, $left, $top)
    width: $width
    height: $height
    left: $left
    top: $top
    position: absolute
html
    box-sizing: border-box 
*, *:before, *:after
    box-sizing: inherit
body 
    font-family: 'Noto Sans Arabic'
    overflow-x: hidden
    font-style: normal
.wrapper 
    width: 100%
    min-height: 500px
    margin: auto
    @include flex-jc
    flex-direction: column
.wrapper, main, header, footer, .Group155 
    width: 1920px

@import "./LayoutStyle/header.sass";
@import "./LayoutStyle/footer.sass";
@import "./LayoutStyle/main.sass";
@import "./DeviceStyle/desktop.sass";
@import "./DeviceStyle/tablet.sass";
@import "./DeviceStyle/mobile.sass";
